<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>A Brand New nanoc Site - <%= @item[:title] %></title>
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/galleria/galleria-1.3.5.min.js"></script>

	<!-- you don't need to keep this, but it's cool for stats! -->
	<meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
</head>
<body>
<div id="main">
	<h1><%= @item[:title] %></h1>

	<%= yield %>
</div>
<div id="sidebar">
	<ul>
		<% for item in @items.select { |i| i[:menu_position] }.sort_by { |i| i[:menu_position] } do %>
			<li>
				<% if item == @item %>
					<%= item[:title] %>
				<% else %>
					<a href="<%= item.path %>">
						<%= item[:title] %>
					</a>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
</body>
</html>
